doctype html(lang='en')
head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')     
    meta(name='viewport', content='width=device-width, initial-scale=1')
         
    title Adviser
    // Materialize CSS local files and cdn for jquery
    link(type='text/css', rel='stylesheet', href='css/materialize.css', media='screen,projection')
    link(type='text/css', rel='stylesheet', href='css/adviser-style.css', media='screen,projection')
        
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
         
    script(type='text/javascript', src='js/materialize.js')
         
    script(type='text/javascript', src='/socket.io/socket.io.js')
    
    
    script(src="js/adviser-app.js")
          
   

body
  header
    nav
      .nav-wrapper.white
        a.tooltipped.brand-logo.center.black-text(href='/adviser' data-position='right' data-tooltip='Click to change queue to advise') Adviser Dashboard
        ul#nav-mobile.right
            li
              a.black-text(href='/logout') logout
            | 
            li
              a.black-text(href='/classes') classes
            | 
            li
              a.black-text(href='/') public
                    
       
        ul#slide-out.side-nav.fixed.cyan.center Choose a queue
          //li
            a.white-text(href='/') Home      
          //li
            a.white-text(href='#') Switch to Enlister
          //li
            a.white-text(href='/logout') Logout
          each q in queueList
            li
              a.white-text(class='q-side-btn')
                span #{q}


        
        a.button-collapse(href='#', data-activates='slide-out')
          i.mdi-navigation-menu.cyan
       
  main
    //a.waves-effect.waves-light.btn.modal-trigger(href="#modal1") Modal

    //#modal1.modal
      .modal-content
        p Which batch are you handling?
        select(id="batchSelect")
          each item in queuesList
            option(value="#{item}") #{item}        

      .modal-footer
        a#modalbtn.modal-action.modal-close.waves-effect.waves-green.btn(href='#!') Submit


    .row
      .col.l6.s12.center-align
        .card-panel
          strong
            h5#queue-title Select a queue to display
                          
        ul#queue.card-panel.collection
          li.collection-item.batch1 Queue is empty                   
          
      .col.l6.s12.center-align
        .card-panel.white
          p Queue length: 
          p#numAdvisees
          a#next.waves-effect.waves-light.btn-large Call next (5)

  // Scripts
  script.
    $('.button-collapse').sideNav({
    //add options
    }
    );

      