extends layout
block js
  script(src="js/jquery.js")
  script(type='text/javascript', src='/js/materialize.js')
  script(src='/socket.io/socket.io.js')
  script(src="js/regteam-app.js")
block content
  #modal1.modal.col.s4.offset-s4
    .modal-content.row
      .col.s6.offset-s3
        h5 Your Control Number Is:
        |       
        h3#CN  loading. . .
        .row
          .col.s4.offset-s3
            button#close.btn.modal-action.modal-close.waves-effect.waves-green.btn-flat.red.lighten-3.center-align(href='#!',type='button') Close

  form(action='/regteamadmin/createqueue',method='POST')
    .row
        .col.s4.offset-s1.hoverable.z-depth-1.blue.lighten-5
          h3.center-align Advising Enqueue Station
          .row
            .input-field.col.s12
              input#batchName.validate(type='text',name='queueName')
              label(for='batchName') Enter Batch(eg. '20XX')
            .input-field.col.s12
              input#adviseName.validate(type='text',name='name')
              label(for='adviseName') Enter Complete Name
          .row
            .col.s4.offset-s4
              button#advise.waves-effect.waves-light.btn(type='button') Enqueue!
          if locals.message
            p #{message}
          else
        .col.s4.offset-s2.hoverable.z-depth-1.blue.lighten-5
          h3.center-align Enlisting Enqueue Station
          .row
            .input-field.col.s12
              input#sections.validate(type='text',name='sections')
              label(for='sections') Enter Class Sections To Enlist In(eg. 'CS21THR,CS22WFR')
            .input-field.col.s12
              input#enlistName.validate(type='text',name='name')
              label(for='enlistName') Enter Complete Name
          .row
            .col.s4.offset-s4
              button#enlist.waves-effect.waves-light.btn(type='button') Enqueue!
          
          if locals.message
            p #{message}
          else
            p
